<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>


<main>
    <form method = "POST" action = "/cart">
        <div class="overflow-x-auto">
            <table class="table w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th></th>
                  <th>Mountain</th>
                  <th>Location</th>
                  <th>Pass</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% if(cart){ %> 
                <% for (var i = 0; i < cart.length; i++){ %>
                <tr>
                  <th></th>
                  <td><%= cart[i].Name %></td>
                  <td><%= cart[i].State %></td>
                  <td><%= cart[i].Pass %></td>
                  <td><button class="btn btn-circle btn-outline">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                  </button></td>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </table>
          </div>
    </form>
</main>

<%- include ('../partials/footer') %>