<%- include ('../partials/header') %> <%- include ('../partials/navbar') %>

<main>
  <div class="overflow-x-auto">
    <div class="hero-content text-center">
      <h1 class="text-3xl font-bold">Ski Wishlist</h1>
    </div>

    <td><%- include ('../partials/message') %></td>
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Mountain</th>
          <th>Location</th>
          <th>Runs</th>
          <th>Ease</th>
          <th>Pass</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(favorite) {%>
        <tr>
          <th></th>
          <td><%= favorite.name %></td>
          <td><%= favorite.state %></td>
          <td><%= favorite.total_runs %></td>
          <td><%= favorite.ease %></td>
          <td><%= favorite.pass %></td>
          <td>
            <form method="POST" action="/wishlist">
              <input
                value="<%= favorite.id %>"
                name="ski_mountainid"
                type="hidden"
              />
              <button type="submit" class="btn btn-circle btn-outline">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>

<%- include ('../partials/footer') %>
