<main>
  <link
    href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    rel="stylesheet"
  />

  <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>

  <h1 class="font text-3xl mb-2" style="margin-left: 10px">Top Hotels</h1>
  <h4
    class="font-thin text-sm mb-2"
    style="
      font-family: 'Raleway', sans-serif;
      color: black;
      margin-bottom: 8px;
      margin-left: 20px;
    "
  >
    Over 87,000,000 guest reviews with an average of 4.8 out of 5 stars
  </h4>

  <section class="text-gray-600 body-font" style="margin-bottom: 20px">
    <div class="container px-0 py-0 mx-auto">
      <form method="POST" action="/updHotels">
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          type="text"
          id="city"
          name="city"
          style="
            font-family: 'Raleway', sans-serif;
            margin-bottom: 20px;
            margin-top: 0px;
            font-size: 20px;
          "
          placeholder="Where to?"
        />
      </form>

      <%- include ('../partials/message') %>

      <div class="flex flex-wrap -m-4">
        <% if(locals.data != undefined){ data.forEach(x=>{ %>

        <div class="p-2 md:w-1/3">
          <div
            class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-indigo-50 to-blue-50 overflow-hidden"
          >
            <% lat = JSON.stringify(x.geoCode.latitude); %> <% long =
            JSON.stringify(x.geoCode.longitude); %> <%
            img="https://wallpaperaccess.com/full/896261.jpg" ; %> <% data_link
            = `/data?dest=${x.name.replaceAll(' ',
            '+')}&lat=${lat}&long=${long}&img=${img}`; %>

            <a href="<%" ="data_link" %
              >>
              <img
                class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100"
                src="<%"
                ="img"
                %
              />
              alt="blog" />
            </a>
            <div class="p-1">
              <h2
                class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"
                style="margin-top: 20px"
              ></h2>
              <h2
                class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"
                style="margin-top: 20px"
              ></h2>
              <h2
                class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"
                style="margin-top: 10px"
              >
                Hotel
              </h2>
              <a
                class="link link-neutral"
                style="
                  font-family: 'Raleway', sans-serif;
                  color: black;
                  margin-bottom: 0;
                "
                href="<%"
                ="data_link"
                %
              >
                > <%- x.name%>
              </a>
              <p
                class="leading-relaxed flex-wrap text-xs font-arial mb-3"
                style="font-size: 15px"
              >
                <%-JSON.stringify(x.distance.value)%> <%-x.distance.unit%> away
              </p>

              <p
                class="leading-relaxed flex-wrap text-xs mb-3"
                style="margin-top: 3px; margin-bottom: 0"
              >
                lat: <%-JSON.stringify(x.geoCode.latitude)%>
              </p>
              <p class="leading-relaxed flex-wrap text-xs mb-3">
                long: <%-JSON.stringify(x.geoCode.longitude)%>
              </p>

              <div class="flex items-center flex-wrap">
                <button
                  name="btn"
                  id="btn"
                  style="margin-top: 0px; margin-bottom: 10px"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <% }) }%>
      </div>
    </div>
  </section>

  <h1
    class="font text-3xl mb-2"
    style="
      font-family: 'Raleway', sans-serif;
      margin-left: 10px;
      margin-bottom: 30px;
      margin-top: 50px;
    "
  >
    Top resorts
  </h1>
  <h4
    class="font-thin text-sm mb-2"
    style="
      font-family: 'Raleway', sans-serif;
      color: black;
      margin-bottom: 15px;
      margin-left: 20px;
    "
  ></h4>

  <%if(locals.state){}else{state="colorado";} %>

  <section class="text-gray-600 body-font" style="margin-bottom: 20px">
    <div class="container px-1 py-0 mx-auto">
      <div class="flex flex-wrap -m-4">
        <% Mdata.forEach(x => { %> <%if(x.state.slice(1,4)==
        state.slice(1,4)){%>

        <div class="p-2 md:w-1/3">
          <div
            class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-indigo-50 to-blue-50 overflow-hidden"
          >
            <img
              class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100"
              src="https://www.jetsetter.com//uploads/sites/7/2018/04/7Np69-pW-1380x690.jpeg"
              alt="blog"
            />
            <% if(x.ski_pass =="Ikon"){%>
            <div class="p-1" style="background-color: rgb(6, 28, 78)">
              <%}%> <% if(x.ski_pass =="Epic"){%>
              <div class="p-1" style="background-color: rgb(235, 111, 3)">
                <%}%>
                <h2
                  class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"
                  style="margin-top: 10px"
                ></h2>
                <h2
                  class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1 text-right"
                  style="margin-top: 0px"
                >
                  <%- x.ski_pass %>
                </h2>
                <h2
                  class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"
                  style="margin-top: 0px"
                >
                  Resort
                </h2>
                <h1
                  class="title-font text-medium font-thin mb-3"
                  style="
                    font-family: 'Raleway', sans-serif;
                    color: rgb(212, 243, 214);
                    margin-bottom: 0;
                  "
                >
                  <%- x.name %>
                </h1>
                <p
                  class="leading-relaxed flex-wrap text-xs font-arial mb-3"
                  style="font-size: 15px"
                ></p>

                <p
                  class="leading-relaxed flex-wrap text-xs mb-3"
                  style="margin-top: 3px; margin-bottom: 0; font-size: 15px"
                >
                  Total runs: <%- x.total_runs %>
                </p>
                <p
                  class="leading-relaxed flex-wrap text-xs mb-3"
                  style="font-size: 15px"
                >
                  Difficulty: <%- x.ease %>
                </p>
                <form method="POST" action="/wishlistadd">
                  <input
                    type="hidden"
                    id="mountainid"
                    name="mountainid"
                    value="<%-x.id%"
                  />>
                  <input
                    type="hidden"
                    id="data"
                    name="data"
                    value="<%-data%>[]"
                  />
                  <input
                    type="hidden"
                    id="state"
                    name="state"
                    value="<%-state%"
                  />>
                  <input
                    type="hidden"
                    id="Mdata"
                    name="Mdata"
                    value="<%-Mdata%"
                  />>

                  <div class="flex items-center flex-wrap">
                    <button
                      type="submit"
                      name="btn"
                      id="btn"
                      style="margin-top: 0px; margin-bottom: 10px"
                    >
                      &#9825;
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <% }})%>
        </div>
      </div>
    </div>
  </section>

  <hr />
</main>
