<%
    let forecasts = [
        {
            dt: undefined,
            temp: undefined,
            tempUnit: undefined,
            windSpeed: undefined,
            windDir: undefined,
            details: undefined,
            logo: undefined
        },
        {
            dt: undefined,
            temp: undefined,
            tempUnit: undefined,
            windSpeed: undefined,
            windDir: undefined,
            details: undefined,
            logo: undefined
        },
        {
            dt: undefined,
            temp: undefined,
            tempUnit: undefined,
            windSpeed: undefined,
            windDir: undefined,
            details: undefined,
            logo: undefined
        },
        {
            dt: undefined,
            temp: undefined,
            tempUnit: undefined,
            windSpeed: undefined,
            windDir: undefined,
            details: undefined,
            logo: undefined
        },
        {
            dt: undefined,
            temp: undefined,
            tempUnit: undefined,
            windSpeed: undefined,
            windDir: undefined,
            details: undefined,
            logo: undefined
        },
        {
            dt: undefined,
            temp: undefined,
            tempUnit: undefined,
            windSpeed: undefined,
            windDir: undefined,
            details: undefined,
            logo: undefined
        }
    ];
    let data = forecast();
    for (let i = 0; i < 6; i++) {
        forecasts[i].dt = data.forecast.periods[i].name;
        forecasts[i].temp = data.forecast.periods[i].temperature;
        forecasts[i].tempUnit = data.forecast.periods[i].temperatureUnit;
        forecasts[i].windSpeed = data.forecast.periods[i].windSpeed;
        forecasts[i].windDir = data.forecast.periods[i].windDirection;
        forecasts[i].details = data.forecast.periods[i].detailedForecast;
        forecasts[i].logo = data.forecast.periods[i].icon;
    }
    // api.getWeatherData(40.0150, -105.2705)
            // .then((data) => {
            //     for (let i = 0; i < 6; i++) {
            //         forecasts[i].dt = data.forecast.periods[i].name;
            //         forecasts[i].temp = data.forecast.periods[i].temperature;
            //         forecasts[i].tempUnit = data.forecast.periods[i].temperatureUnit;
            //         forecasts[i].windSpeed = data.forecast.periods[i].windSpeed;
            //         forecasts[i].windDir = data.forecast.periods[i].windDirection;
            //         forecasts[i].details = data.forecast.periods[i].detailedForecast;
            //         forecasts[i].logo = data.forecast.periods[i].icon;
            //     }
            // })
            // .catch((err) => {
            //     console.log(err);
            // })
%>

<input type="checkbox" id="modal-<%= id_num %>" class="modal-toggle" />
<div class="modal modal-bottom sm:modal-middle">
    <div class="modal-box w-full sm:w-3/5 max-w-5xl">
        <label for="modal-<%= id_num %>" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <h1 class="mb-4 font-extrabold tracking-tight leading-none text-center md:text-lg lg:text-6xl"><%= modal_title %></h1>
        <div class="divider"></div>
        <!-- picture carousel -->
        <div class="carousel justify-center w-full">
            <% for (i = 0; i < images.length; i++) { %>
                <div id="item<%= i %>" class="carousel-item w-full">
                    <img src=<%= images[i] %> />
                </div>
            <% } %>
        </div>
        <div class="flex justify-center w-full py-2 gap-2">
            <% for (i = 0; i < images.length; i++) { %>
                <a href="#item<%= i %>" class="btn btn-xs"><%= i + 1 %></a>
            <% } %>
        </div>
        <!-- weather stats -->
        <% for (let i = 0; i < 6; i++) { %>
            <div class="stats shadow">

                <div class="stat">
                    <div class="stat-title">Total Likes</div>
                    <div class="stat-value text-primary">25.6K</div>
                    <div class="stat-desc">21% more than last month</div>
                </div>

                <div class="stat">
                    <div class="stat-title">Page Views</div>
                    <div class="stat-value text-secondary">2.6M</div>
                    <div class="stat-desc">21% more than last month</div>
                </div>

                <div class="stat">
                    <div class="stat-figure text-secondary">
                        <div class="avatar online">
                            <div class="w-16 rounded-full">
                                <% console.log(forecasts[i].logo) %>
                                <img src=<%= forecasts[i].logo; %> />
                            </div>
                        </div>
                    </div>
                    <div class="stat-value">86%</div>
                    <div class="stat-title">Tasks done</div>
                    <div class="stat-desc text-secondary">31 tasks remaining</div>
                </div>

            </div>
        <% } %>
    </div>
</div>